<!doctype html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="initial-scale=1, width=device-width">
</head>

<body>
    <main>
        <section>
            <a href="#nav" id="nav-button">
                <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                </svg>
                <div id="mobile-header"></div>
            </a>
            <a href="{{ site.github.repository_url }}/edit/master/{{ page.path }}" target="_blank" class="improve-me">
                <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                </svg>
            </a>
            {{ content }}
        </section>
    </main>
    <aside id="nav">
        <header>
            <a href="{{ site.baseurl }}/" class="logo">
                <h1>{{ site.title | default: site.github.repository_name }}</h1>
                <p>{{ site.description | default: site.github.project_tagline }}</p>
            </a>
        </header>
        <nav>

          {% assign pages = site.pages %}
          {% assign done = "" %}

          {% assign submodules = "" %}
          {% for node in pages %}
            {% if node.name == "README.md" and node.dir != "/" %}
              {% assign packageDir = node.dir %}
              {% capture submodules %}{{ submodules }}
                {% include toc.html html=node.content url=node.url h_max=1 %}
              {% endcapture %}
              {% capture done %} {{ done }},{{ node.path }}{% endcapture %}
              {% for sub_doc in pages %}
                {% if sub_doc.name == "README.md" %}
                  {% continue %}
                {% endif %}

                {% assign x = sub_doc.dir | split: packageDir %}
                {% if packageDir == sub_doc.dir or x.size > 1 %}
                  {% capture submodules %}{{ submodules }}
                    {% include toc.html html=sub_doc.content url=sub_doc.url h_max=1 %}
                  {% endcapture %}
                  {% capture done %} {{ done }},{{ sub_doc.path }}{% endcapture %}
                {% endif %}
              {% endfor %}
            {% endif %}

          {% endfor %}

          {% for node in pages %}
            {% assign current = false %}
            {% assign min = 1000 %}
            {% assign doneList = done | split: "," %}
            {% for node in pages %}
              {% if node.dir.size < min %}
                  {% unless doneList contains node.path %}
                    {% assign current = node %}
                    {% assign min = current.dir.size %}
                {% endunless %}
              {% endif %}
            {% endfor %}

            {% unless current %}
              {% break %}
            {% endunless %}

            {% include toc.html html=current.content url=current.url h_max=2 %}

            {% capture done %} {{ done }},{{ current.path }}{% endcapture %}
          {% endfor %}

          <ul>
            <li>
              <label for="sections">Submodules</label>
              <input type="checkbox" id="sections" checked="">
              {{ submodules }}
            </li>
          </ul>

        </nav>
    </aside>
    <a href="#" id="nav-backdrop"></a>
    <script>
      document.getElementById("mobile-header").innerText = document.querySelector("main h1").innerText;
    </script>
</body>

</html>
