<!doctype html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% if site.custom_header_tags %}
      {% include {{ site.custom_header_tags }} %}
    {% endif %}
    <meta name="viewport" content="initial-scale=1, width=device-width">
</head>

<body>
    <main>
        <section>
            <a href="#nav" id="nav-button">
                <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                </svg>
                <div id="mobile-header"></div>
            </a>
            <a href="{{ site.github.repository_url }}/edit/master/{{ page.path }}" target="_blank" class="improve-me">
                <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                </svg>
            </a>
            {{ content }}
        </section>
    </main>
    <aside id="nav">
        <header>
            <a href="{{ site.baseurl }}/" class="logo">
                <h1>{{ site.title | default: site.github.repository_name }}</h1>
                <p>{{ site.description | default: site.github.project_tagline }}</p>
            </a>
        </header>
        <div id="search-container">
            <input type="text" id="search-input" placeholder="search...">
            <nav>
                <ul id="results-container"></ul>
            </nav>
        </div>
        <nav>
          {% capture trash %}
          {% assign pages = site.pages | sort: "dir.size"  %}
          {% assign done = "" %}

          ### Fetch all submodules from the list of pages and mark them as "done".
          ### Menu is inserted below other TOCs.

          {% assign ignoreList = site.ignore %}
          ignoreList = {{ ignoreList }}
          {% for filter in ignoreList %}
            ignore: {{ filter }}
          {% endfor %}

          {% for node in pages %}
            # on ignore list?
            {% assign ignore = false %}
            {% for filter in ignoreList %}
              ignore? {{ node.dir }} filter: {{ filter }}
              {% if node.dir contains filter %}
                {% assign ignore = true %}
                yes
                {% capture done %} {{ done }},{{ node.path }}{% endcapture %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if node.name == "README.md" and node.dir != "/" %}
              {% assign packageDir = node.dir %}

              {% if ignore != true %}
                {% capture done %} {{ done }},{{ node.path }}{% endcapture %}
                Add sub module to TOC {{ node.url }}

                # "brief" is default behaviour
                {% if site.submodules == "detailed" %}
                  {% capture submodules %}{{ submodules }}
                    {% include toc.html html=node.content url=node.url h_max=2 %}
                  {% endcapture %}
                {% elsif site.submodules != "none" %}
                  {% capture submodules %}{{ submodules }}
                    <li><a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
                  {% endcapture %}
                {% endif %}
              {% endif %}

              {% for sub_doc in pages %}
                {% if sub_doc.name == "README.md" or packageDir == sub_doc.dir %}
                  {% continue %}
                {% endif %}

                {% assign x = sub_doc.dir | split: packageDir %}
                {% if x.size > 1 %}
                  ### Filter out submodule pages as they clutter the menu too much.
                  {% capture done %} {{ done }},{{ sub_doc.path }}{% endcapture %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}

          ### make TOCs for remaining pages

          {% assign superToc = "" %}
          {% for node in pages %}
            {{ node.dir }}; {{ node.dir.size }}
            {% assign current = false %}
            {% assign min = 1000 %}
            {% assign doneList = done | split: "," %}
            {% for node in pages %}
              {% if node.dir.size < min %}
                {% unless doneList contains node.path %}
                  {% assign current = node %}
                  {% assign min = current.dir.size %}
                {% endunless %}
              {% endif %}
            {% endfor %}

            {% unless current %}
              {% break %}
            {% endunless %}

            {% capture superToc %}{{ superToc }}{% include toc.html html=current.content url=current.url h_max=2 %}{% endcapture %}

            {% capture done %} {{ done }},{{ current.path }}{% endcapture %}
          {% endfor %}
          {% assign submodules = submodules | strip %}
          {% endcapture %}{{ superToc }}
          {% if submodules.size > 0 %}
          <ul>
            <li>
              <label for="sections">{{ site.submodule_section | default: "Submodules" }}</label>
              <input type="checkbox" id="sections" checked="">
              <ul>
                {{ submodules }}
              </ul>
            </li>
          </ul>
          {% endif %}

          {% if site.debugging %}
          <pre>
            {{ trash }}
          </pre>
          {% endif %}

        </nav>
    </aside>
    <a href="#" id="nav-backdrop"></a>
    <script src="{{ site.baseurl }}/assets/js/Helper.js"></script>
    <script src="{{ site.baseurl }}/assets/js/FuzzySearch.js"></script>
    <script src="{{ site.baseurl }}/assets/js/search.js"></script>
    <script>

      // initialize search functionality

      var css = document.getElementById("search-container").classList,
          input = document.getElementById("search-input"),
          list = document.getElementById("results-container");

      function toggleList(show, query = input.value, length = query.length, html = list.innerHTML) {
        if (show) {
          css.toggle("has-results", (length > 2) && (html != ""));
          css.toggle("nothing-found", (length > 2) && ((html == "") || html.indexOf("Nothing found") > -1 ));
        }
        else css.remove("has-results", "nothing-found");
      };

      input.addEventListener('keyup', e => {
        if (e.keyCode === 27) return input.blur();
        var query = input.value;

        if (query.length > 2) search(query).then((results) => {
          var html = "";
          results = results.slice(0, 10);
          if (results.length > 0) {
            for (var result of results) {
              var item     = result.item,
                  snippet  = result.result.snippet,
                  position = snippet.toLowerCase().indexOf(query);

              if (position > 0) snippet = snippet.substring(0, position) + `<strong>${query}</strong>` + snippet.substring(position + query.length);

              html += `<li><a href="${item.url}">${item.title}</a><ul><li>&hellip;${snippet}&hellip;</li></ul></li>`
            }
          }
          else html = "<li>Nothing found</li>";
          list.innerHTML = html;
        });
        else list.innerHTML = "";
        setTimeout(_ => toggleList(true), 1);
      });

      input.addEventListener('focusout', e => {
        // race conditions: needs time to send click event before hiding results
        setTimeout(_ => toggleList(false), 250);
      });
      input.addEventListener('focusin', e => { toggleList(true); });

      searchInit("{{ site.baseurl }}/assets/js/search.json");


      // restore menu state after page change (open/close sections, scroll position)

      const nav = document.querySelector("#nav > nav"),
            inputs = Array.from(nav.querySelectorAll("ul > li > input")),
            loadState = repeat => {
              const state = JSON.parse(localStorage.getItem("nav"));
              if (!state) return;

              inputs.map((item, index) => { return item.checked = state.opened[index]; });

              const id = setInterval(_ => {
                nav.scrollTop = state.scroll;
                if (nav.scrollTop === state.scroll || repeat-- < 1) clearInterval(id);
              }, 20);
            },
            storeState = _ => {
              localStorage.setItem("nav", JSON.stringify({
                scroll: nav.scrollTop,
                opened: inputs.map(item => { return item.checked })
              }));
            };

      window.addEventListener('pagehide', storeState, false);
      loadState(100);


      // adjust mobile header to currently loaded page

      document.getElementById("mobile-header").innerText = document.querySelector("main h1").innerText;


      // add little anchor symbol behind heading to allow copying of bookmark

      var anchorForId = function (id, text) {
        var anchor = document.createElement("a");
        anchor.className = "header-link";
        anchor.href      = "#" + id;
        anchor.title     = `Copy and share permalink of "${text}"`;
        return anchor;
      };

      var linkifyAnchors = function (level, containingElement) {
        var headers = containingElement.getElementsByTagName("h" + level);
        for (var h = 0; h < headers.length; h++) {
          var header = headers[h];

          if (typeof header.id !== "undefined" && header.id !== "") {
            header.appendChild(anchorForId(header.id, header.innerText));
          }
        }
      };

      var content = document.getElementsByTagName("main")[0];
      if (content) {
        for (var level = 1; level <= 6; level++) {
          linkifyAnchors(level, content);
        }
      }
    </script>
</body>

</html>
